<div class="row section-dark">
    <div class="col-md-12 text-center mb-5">
        <h3>Education</h3>
    </div>

    <div class="col-md-12">
        <!-- <div class="media">
            <img src="..." class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div> -->

        <div class="timeline">
            <div class="containert left">
                <div class="content ">
                    <h2>2010 - 2014</h2>
                    <h5>Escuela de Educación Técnica Particular N° 2056</h5>
                    <p>Técnico en Economía y Gestión de las Organizaciones </p>
                </div>
            </div>
            <div class="containert right">
                <div class="content">
                    <h2>2015</h2>
                    <h5>IDEC - Santa fe</h5>
                    <p> Programador Visual </p>
                </div>
            </div>
            <div class="containert left">
                <div class="content">
                    <h2>2016 - 2017</h2>
                    <h5>UTN - FRSF</h5>
                    <p>Ingeniería en Sistemas</p>
                </div>
            </div>
            <div class="containert right">
                <div class="content">
                    <h2>2017 - 2019</h2>
                    <h5> IES - Santa Fe
                    </h5>
                    <p> Técnico Superior en Desarrollo de Software</p>
                </div>
            </div>
            <div class="containert left">
                <div class="content">
                    <h2>2020</h2>
                    <h5>Self-taught learning</h5>
                    <label>Udemy</label>
                    <ul>
                        <li>Curso de Angular</li>
                        <li>Curso de NodeJS</li>
                        <li>Curso de JavaScript con Angular, NodeJS y MongoDB</li>
                    </ul>
                </div>
            </div>
            <div class="containert right">
                <div class="content">
                    <h2>Now</h2>
                    <h5>Self-taught learning
                    </h5>
                    <label>Doing research</label>
                    <ul>
                        <li>React</li>
                        <li>Next.js</li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>