<div class="row section-light align-content-center">
    <div class="col-md-12 text-center">
        <h3>Skills</h3>
    </div>

    <div class="col-md-3 mt-2 mb-2">
        <div class="card bg-dark text-white">
            <img src="../../../../assets/images/backend.png" class="card-img" alt="Backend">
            <!-- <div class="card-img-overlay">
                <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div> -->
        </div>
    </div>
    <div class="col-md-3 mt-2 mb-2">
        <div class="card bg-dark text-white">
            <img src="../../../../assets/images/frontend.png" class="card-img" alt="Frontend">
            <!-- <div class="card-img-overlay">
                <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div> -->
        </div>
    </div>
    <div class="col-md-3 mt-2 mb-2">
        <div class="card bg-dark text-white">
            <img src="../../../../assets/images/database.png" class="card-img" alt="Database">
            <!-- <div class="card-img-overlay">
                <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div> -->
        </div>
    </div>
    <div class="col-md-3 mt-2 mb-2">
        <div class="card bg-dark text-white">
            <img src="../../../../assets/images/languages.png" class="card-img" alt="languages">
            <!-- <div class="card-img-overlay">
                <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div> -->
        </div>
    </div>


    <div class="col-md-12 text-center mt-5">
        <a href="../../../../assets/files/CERATTOBRUNO-CV.pdf" download="cv-CerattoBruno">
            <button class="btn btn-dark botonCv">Download CV</button>
        </a>
    </div>


</div>